<div class="row">
  <div class="col-md-8">
    <div class="row mb-5">
      <div class="col-12">
        <app-widget>
          <app-created-gists></app-created-gists>
        </app-widget>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-widget>
          <app-files-per-gist></app-files-per-gist>
        </app-widget>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-right">
    <button (click)="back()" type="button" class="btn btn-outline-secondary">Close Stats</button>
  </div>
</div>
