@import "src/variables";

.notes {
  .note-header {
    font-size: $sub-header-font-size;
  }
  .note{
    border-bottom: 1px solid $border-color;
    margin-bottom: 0.8rem;
  }
  .note:last-of-type{
    border-bottom: 0px;
    margin-bottom: 0;
  }
}
