<button class="btn btn-success mb-2" (click)="gotoEntry()">Create new notepad</button>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col" width="20%">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{item.title}}</td>
    <td>
        <button
          (click)="gotoEntry(item)"
          type="button"
          class="btn btn-sm btn-outline-warning mr-1"><span class="material-icons">mode_edit</span></button>
        <button
          (click)="confirmDelete(item)"
          type="button"
          class="btn btn-sm btn-outline-danger mr-1"><span class="material-icons">delete</span></button>
        <button
          (click)="view()"
          type="button"
          class="btn btn-sm btn-outline-info"><span class="material-icons">trending_up</span></button>
    </td>
  </tr>
  </tbody>
</table>
<app-loading *ngIf="loading" type="spinner"></app-loading>

<app-confirm-modal (confirm)="onConfirmed()">
  <p>Are you sure to delete?</p>
</app-confirm-modal>
