@import "src/variables";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

body {
  padding: 30px;
  label, .col-form-label{
    font-size: $label-font-size;
  }

  input, textarea{
    font-size: $input-font-size;
  }
}
