@import "src/variables";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body {
  margin: 0;
  padding: 30px;
  background-color: red;
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family!important;

  .container {
    margin: 0 auto;
    min-width: $boxed-min-width;
    max-width: $boxed-max-width;
  }
}
