

$boxed-max-width:           1024px;
$boxed-min-width:           320px;

// Body

$body-bg:                   #eee;
$body-color:                #333;
$font-family:               Arial, Roboto, sans-serif;

// Header
$header-font-size:          24px;
$sub-header-font-size:      18px;

// Elements
$border-color:              #ccc;
