.content{
  min-height: 350px;

  .loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(235 235 235 / 50%);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner-container{
      margin-left: -16px;
      margin-top: -18px;
    }
  }
}
